## Indexing

In [1]:
import pandas as pd
import numpy as np
time_series = pd.date_range('1/1/2020', periods=20)

df = pd.DataFrame(np.random.randn(20, 5),
                  index=time_series,
                  columns=['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5'])
df

            Column 1  Column 2  Column 3  Column 4  Column 5
2020-01-01 -1.395101  0.274141 -0.183076  0.490447  0.642082
2020-01-02 -0.262535  0.350895  0.237241 -1.431103  0.353603
2020-01-03  0.368565 -1.203486  0.489870 -0.210652 -0.437019
2020-01-04 -0.652996 -0.276142  1.610940 -0.505696  1.304921
2020-01-05 -0.214258 -0.082199  0.907368  1.983859  0.518990
2020-01-06 -1.175094  1.069226 -0.694093 -0.165485  0.335920
2020-01-07 -0.141106  1.540295 -0.571833  0.051734 -0.715767
2020-01-08  0.515473  0.056227 -0.709634 -0.821444 -1.467502
2020-01-09  0.219617 -1.597604  0.556321 -1.034564  0.652942
2020-01-10  1.256057  0.232082  1.319742 -1.031113  0.120217
2020-01-11  0.163036 -1.305248  0.638166 -1.230445 -0.006078
2020-01-12  0.968541 -0.675305  1.515597 -0.458913  0.877275
2020-01-13  0.251000 -2.390037  0.675882 -0.518779  0.189254
2020-01-14  1.245180  2.241738  0.822020  0.005741 -0.068380
2020-01-15 -1.071976  0.029109 -0.474814 -0.742110 -0.489078
2020-01-16  1.663925 -2.869539 -1.757611  2.714346 -0.160563
2020-01-17 -1.153805 -1.024750 -1.198198  0.886600  0.354004
2020-01-18 -0.110435 -0.911240 -1.083166  1.452260  2.069698
2020-01-19 -1.464248 -0.275816  1.743008 -0.462701  1.446101
2020-01-20  1.432398  0.810820  1.286627 -1.089499  0.719172

In [2]:
df['Column 1']

2020-01-01   -1.395101
2020-01-02   -0.262535
2020-01-03    0.368565
2020-01-04   -0.652996
2020-01-05   -0.214258
2020-01-06   -1.175094
2020-01-07   -0.141106
2020-01-08    0.515473
2020-01-09    0.219617
2020-01-10    1.256057
2020-01-11    0.163036
2020-01-12    0.968541
2020-01-13    0.251000
2020-01-14    1.245180
2020-01-15   -1.071976
2020-01-16    1.663925
2020-01-17   -1.153805
2020-01-18   -0.110435
2020-01-19   -1.464248
2020-01-20    1.432398
Freq: D, Name: Column 1, dtype: float64

In [3]:
df[['Column 1', 'Column 2', 'Column 3']]

            Column 1  Column 2  Column 3
2020-01-01 -1.395101  0.274141 -0.183076
2020-01-02 -0.262535  0.350895  0.237241
2020-01-03  0.368565 -1.203486  0.489870
2020-01-04 -0.652996 -0.276142  1.610940
2020-01-05 -0.214258 -0.082199  0.907368
2020-01-06 -1.175094  1.069226 -0.694093
2020-01-07 -0.141106  1.540295 -0.571833
2020-01-08  0.515473  0.056227 -0.709634
2020-01-09  0.219617 -1.597604  0.556321
2020-01-10  1.256057  0.232082  1.319742
2020-01-11  0.163036 -1.305248  0.638166
2020-01-12  0.968541 -0.675305  1.515597
2020-01-13  0.251000 -2.390037  0.675882
2020-01-14  1.245180  2.241738  0.822020
2020-01-15 -1.071976  0.029109 -0.474814
2020-01-16  1.663925 -2.869539 -1.757611
2020-01-17 -1.153805 -1.024750 -1.198198
2020-01-18 -0.110435 -0.911240 -1.083166
2020-01-19 -1.464248 -0.275816  1.743008
2020-01-20  1.432398  0.810820  1.286627

In [4]:
# timeseries specific indexing

col1 = df['Column 1']
col1[time_series[3]]

-0.6529955503831147

In [5]:
# creating a dataframe using the dictionary structure
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})

# selection by position
# specifying new values to the row number 1
x.loc[1] = {'x': 9, 'y': 99}

# printing the resultant dataframe
print(x)

   x   y
0  1   3
1  9  99
2  3   5

## Slicing

In [20]:
df.iloc[:5, 0:2]

            Column 1  Column 2
2020-01-01 -0.506672 -0.223504
2020-01-02 -0.288263 -0.308458
2020-01-03  0.208609  0.340054
2020-01-04  0.755634 -0.584098
2020-01-05 -2.071256 -0.095079

In [21]:
#Striding
df[::3]

            Column 1  Column 2  Column 3  Column 4  Column 5
2020-01-01 -0.506672 -0.223504  1.374367 -0.673617 -1.594992
2020-01-04  0.755634 -0.584098  1.462399  0.169597  0.646324
2020-01-07  2.179848  1.115860 -0.742047  0.039219  1.084622
2020-01-10 -2.198756 -0.140123 -0.278568  1.416964 -2.059844
2020-01-13  0.316275  0.946194  1.169399 -0.609133  0.136591
2020-01-16 -0.822112 -0.209220 -1.553531  1.470538 -0.962117
2020-01-19 -0.658735  0.197481 -0.258119 -1.348261 -0.546297

## Filtering

In [22]:
df[(df['Column 3'] < 0)]

            Column 1  Column 2  Column 3  Column 4  Column 5
2020-01-06 -0.553698  1.113536 -0.208415 -0.971505  0.448935
2020-01-07  2.179848  1.115860 -0.742047  0.039219  1.084622
2020-01-09 -1.410691 -0.435762 -0.312730 -0.420567  1.313196
2020-01-10 -2.198756 -0.140123 -0.278568  1.416964 -2.059844
2020-01-11 -0.367993  1.378564 -1.204453 -0.473113 -0.794758
2020-01-14 -1.233144  0.239735 -1.435708  0.684846  1.075830
2020-01-16 -0.822112 -0.209220 -1.553531  1.470538 -0.962117
2020-01-18 -1.573445  1.087323 -1.315079  0.293028 -0.680757
2020-01-19 -0.658735  0.197481 -0.258119 -1.348261 -0.546297
2020-01-20  0.400129  0.635901 -0.002345 -1.364261 -0.305020

In [23]:
df[(df['Column 1'] < 0) & (df['Column 2'] > 0)][['Column 4', 'Column 5']]

            Column 4  Column 5
2020-01-06 -0.971505  0.448935
2020-01-11 -0.473113 -0.794758
2020-01-14  0.684846  1.075830
2020-01-18  0.293028 -0.680757
2020-01-19 -1.348261 -0.546297